*{ font-family: 'M PLUS 2', sans-serif;}
*{		
	font-weight:400;		
 }
 input{font-family:sans-serif}
  textarea{font-family:sans-serif}
  
  select{
	width:300px;
	font-weight: bold;
	padding: 0px 0 0 5px;
    height: 30px;
	}
	input{
	vertical-align: -8px;
	color:#000000;
	border-radius: 8px;
	margin-bottom: 10px;
	height: 25px;
	padding-left:8px;
}

th{
	width: 250px;
}

tr:hover{
	border:solid 1px white;
	border-radius: 5px;
	padding:10px;
}
table{
	font-size:16px;
}
a {
	color:#ABCDEF;
	text-decoration:underline;
	margin-right:50px;
	font-size:15px;
}

b{font-size:16px;}
.btn{font-size:16px;}

.btnRefreshSigla{
	font-size: 10px;
    padding: 4px;
    margin-top: -18px;
}

.spanRefreshSigla{
font-size: 15px;
    padding: 0;
}

.Titolo{
    font-size: 20px;
    font-weight: bold;
    color: #8cdf62;
}
